.buttonContainer-K {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.picture-K {
  padding-top: 20px;
}

.container-K {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
