.header {
  display: flex;
  background-color: rgb(5, 0, 255);
  width: 100%;
  height: 70px;
  font-size: 10px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.headerButtons {
  display: flex;
  align-items: center;
}

.text {
  color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
}

.subscriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscriptionPage {
  background-color: rgb(255, 231, 231);
}
.recommendationBox {
  background-color: rgb(255, 255, 255);
  width: 85%;
  font-size: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(91, 0, 47);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.label {
  padding-left: 20px;
}

.subscriptionGrid {
  width: 85%;
  padding-top: 50px;
}

#soFresh {
  font-size: 30px;
}

.footer {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.button {
  background-color: rgba(168, 168, 168, 0.181);
  border-radius: 10px;
  height: 20px;
  width: 20px;
}
