.subscriptions-K {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscriptionPage-K {
  background-color: rgb(255, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
}
